.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.description {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: #fff;
  text-align: center;
}
.avatar {
  width: 150px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.tag {
  font-size: 20px;
}
.location {
  font-size: 16px;
}
.stats {
  background-color: aliceblue;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-weight: 700;
}
