.statistics {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 20px auto;
  background-color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  margin: 15px auto;
  text-transform: uppercase;
  font-size: 18px;
  color: rgb(74, 74, 74);
}
.stat__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin: 0;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 12px;
}
.label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 12px;
}
.percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
